= form_with model: @task, url: tasks_path, method: :post do |f|
  = f.label 'Candidate  '
  %br
  = f.select :candidate_id, Candidate.all.collect {|c| [ c.name, c.id ] }, { include_blank: true, multiple: true }
  %br
  = f.label :title
  %br
  = f.text_field :title
  %br
  = f.label :description
  %br
  = f.text_field :description
  %br
  %br
  = f.submit 'submit'
